body {
  margin: 8;
}
.trix-content {
  height: 450px;
  max-height: 450px !important;   
  overflow-y: hidden;
  border-color: whitesmoke;
  color: whitesmoke
}
.trix-button--icon-undo,
.trix-button--icon-redo,
.trix-button--icon-quote,
.trix-button-group--history-tools { display: none !important; }

span .trix-button-group--history-tools {display: none;}

trix-toolbar .trix-button-group button {
  background-color: whitesmoke;
  color: black;
}